body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(120deg,#ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins' , sans-serif;
    animation: bgMove 6s infinite alternate;
}

@keyframes bgMove {
    form { filter: hue-rotate(0deg);}
    to {filter: hue-rotate(40deg);}
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    animation: pop 1.2s ease;
}

@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1;}
}

h1 {
    color: #ff4b6e;
}

.love {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}